<div class = "container">
  <% if @user %>
  <h1><%= @user["login"] %>'s Repos</h1>
  <p><%= link_to "Profile", @user["html_url"], :target => "_blank" %></p>
  <%# if @user %>
    <%# @user %>
  <% end %>

  <% if @repos %>
    <ul>
    <% @repos.each do |repo| %>
      <li><%= link_to repo["name"], repo["html_url"], :target => "_blank" %><br>
	<%= repo["description"] %>
      </li>
    <% end %>
    </ul>
  <% end %>
  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
  
</div>
